alabaster==0.7.12
altgraph==0.17.2
asyncqt==0.8.0
Babel==2.10.3
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
charset-normalizer==2.0.12
colorama==0.4.5
cPython==0.0.6
cycler==0.11.0
Cython==0.29.30
docopt==0.6.2
docutils==0.17.1
fonttools==4.33.3
future==0.18.2
idna==3.3
imagesize==1.3.0
jedi==0.18.1
Jinja2==3.1.2
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
numpy==1.23.0
numpydoc==1.4.0
packaging==21.3
parso==0.8.3
pefile==2022.5.30
Pillow==9.1.1
pipreqs==0.4.11
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pymongo==4.1.1
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
pytz==2022.1
pyusb==1.2.1
pywin32-ctypes==0.2.0
qasync==0.23.0
requests==2.28.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.0.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.9
wincertstore==0.2
yarg==0.1.9
